body{

background:#05060a;

font-family:Arial;

text-align:center;

color:white;

}

.title{

font-size:44px;

margin-top:40px;

background:linear-gradient(90deg,#ffcc00,#ff7a18);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.panel{

margin:30px;

}

input,select{

padding:10px;

margin:6px;

border-radius:8px;

border:none;

}

button{

padding:10px 20px;

margin:6px;

border:none;

border-radius:10px;

background:linear-gradient(45deg,#ffcc00,#ff7a18);

color:black;

font-weight:bold;

cursor:pointer;

}

canvas{

margin-top:30px;

border-radius:25px;

border:2px solid transparent;

border-image:linear-gradient(45deg,#ffcc00,#ff7a18,#ffcc00)1;

box-shadow:0 0 50px rgba(255,160,0,0.35);

}
